h1 {
  text-align: center;
}

.vert {
border-left: 1px black solid;
border-right: 1px black solid;
}

.center {
border-top: 1px black solid;
border-bottom: 1px black solid;
}

td{
  width: 100px;
  height: 100px;
}

#special{
border: 1px black solid;
}

table {
  margin: auto;
}
